/* RESPONSIVE CSS FOR SMALL DEVICES START FROM HERE */
@media only screen and (max-width: 667.99px) {

    /* WELCOME SECTION START FROM HERE */
    .menu-bar{
        display: flex;
    }
    #header nav{
        display: flex;
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translateX(-50%);
        width: 100%;
        z-index: 999;
        background: white;
        padding: 0px 5%;
        display:none;
    }
    #header nav .main-menu{
        flex-direction: column;
        width: 100%;
    }
    #header nav .main-menu li{
        display: block;
        width: 100%;
        padding: 10px 0px;

    }
    #welcome-section {
        flex-direction: column-reverse;
    }

    #welcome-section .welcome-text,
    #welcome-section .welcome-image {
        width: 100%;
    }

    #welcome-section .welcome-text h1 {
        font-size: 40px;
        line-height: 50px;
    }


    #welcome-section .welcome-image img {
        width: 100%;
    }

    /* WELCOME SECTION END HERE */
    /* SPONSORE SECTION CSS START FROM HERE */
    #sponsore-section {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    #sponsore-section .sponsore-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sponsore-section .sponsore-logo img {
        width: 95%;
    }

    /* SPONSORE SECTION CSS END HERE */
    /* POPULAR SECTION START FROM HERE */
    #popular .card-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* POPULAR SECTION END HERE */
}

/* RESPONSIVE CSS FOR SMALL DEVICES END HERE */
@media only screen and (min-width: 668px) and (max-width:991.99px) {
    /* HEADER SECTION START FROM HERE */
    .menu-bar{
        display: flex;
    }
    #header nav{
        display: flex;
        position: absolute;
        top: 100%;
        left: 50%;
        transform:translateX(-50%);
        width: 100%;
        z-index: 999;
        background: white;
        padding: 0px 5%;
        display:none;
    }
    #header nav .main-menu{
        flex-direction: column;
        width: 100%;
    }
    #header nav .main-menu li{
        display: block;
        width: 100%;
        padding: 10px 0px;

    }
    /* HEADER SECTION END HERE */
    /* WELCOME SECTION START FROM HERE */
    #welcome-section {
        padding: 30px 0px;
    }

    #welcome-section .welcome-text {
        width: 60%;
    }
    #welcome-section .welcome-image{
        width: 40%;
    }
    #welcome-section .welcome-text h1 {
        font-size: 38px;
        line-height: 50px;
    }


    #welcome-section .welcome-image img {
        width: 100%;
    }

    /* WELCOME SECTION END HERE */
        /* SPONSORE SECTION CSS START FROM HERE */
        #sponsore-section {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 15px;
        }
    
        #sponsore-section .sponsore-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        #sponsore-section .sponsore-logo img {
            width: 95%;
        }
    
        /* SPONSORE SECTION CSS END HERE */
        /* POPULAR SECTION START FROM HERE */
        #popular .card-container {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    
        /* POPULAR SECTION END HERE */
}

@media only screen and (min-width: 992px) and (max-width:1200px){
    #welcome-section .welcome-text h1 {
        font-size: 40px;
        line-height: 50px;
    }
}